
<footer class="footer">
    <div class="container-fluid footer navbar-fixed-bottom" align="center">
                    <strong style="color:red; font-size:10px">Management Control
            &copy; 2018 <a href="#"> PT.ZENITH ALLMART PRECISINDO</a> All rights reserved
            </strong>
    </div>
</footer>

